@import './base.css';
body {
  background: #000000;
  font-family: "Montserrat", sans-serif;;
  /* background: url('src/assets/background.jpg'); 
  cursor: url('src/assets/cursor.webp'), auto; /* 自定義鼠標指針 */
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/tina.gif"), auto;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-size: cover;
}

.clear-both {
  clear: both;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
