@import './base.css';

.clear-both {
  clear: both;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,i {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
  border-bottom: 3px transparent solid;
}
a.active,
a.router-link-exact-active {
  border-bottom-color:#fff !important;
}
@media (hover: hover) {
  a:hover, 
  i:hover,
  input[type="submit"]:hover,
  .post-list-row:hover,
  .photo-box:hover {
    background-color: hsla(75, 35%, 100%, 0.5) !important;
  }
  img.who:hover {
    border-radius: 50% !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.1875rem);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: hsla(75, 35%, 100%, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff; 
  cursor: pointer;
}